/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.star {
  margin: 0 5px;
}

.star:hover {
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
}

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin: 0.4rem 0;
  font-size: 0.85rem;
  color: green;
}

.story-user {
  margin-top: 0.4rem;
  font-size: 0.85rem;
  display: block;
  color: orange;
}
